    $primary-color: #EE2E31;
    $secondary-color: #FDF148;
    $background-dark: #3c3c3c;
    $light-green: #679289;
    $white: #fff;
    $black: #222;

    $primary-font: Arial, Helvetica, sans-serif;
    $secondary-font: 'Courier New', Courier, monospace;

    $transition-duration: .5s;
    $transition-function: ease;

    $layout-margin: 6rem;
    $grid-gutter: $layout-margin * .25;